<app-global-styles></app-global-styles>

<app-controls></app-controls>

<div class="page-wrapper">
  <app-bohater [inputConfigs]="SECTION_CONFIGS.bohater"></app-bohater>
  <app-opis-bohatera
    [inputConfigs]="SECTION_CONFIGS.opisBohatera"
  ></app-opis-bohatera>
  <app-cechy></app-cechy>
  <app-bron></app-bron>
  <app-pancerz></app-pancerz>
  <app-gracz></app-gracz>
  <app-punkty-doswiadczenia></app-punkty-doswiadczenia>
  <app-ruch-w-walce></app-ruch-w-walce>
  <app-punkty-zbroi></app-punkty-zbroi>
  <app-zestawienie-akcji></app-zestawienie-akcji>
  <app-umiejetnosci></app-umiejetnosci>
  <app-zdolnosci></app-zdolnosci>
  <app-wyposazenie></app-wyposazenie>
  <app-pieniadze></app-pieniadze>
</div>
