.section {
  border: 0.05rem solid black;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;

  &__header {
    background-color: black;
    font-size: x-large;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    padding: 1rem;
  }
}

.field {
  &--expand {
    display: flex;

    input {
      flex: 1;
      margin-left: 0.5rem;
      box-sizing: border-box;
    }
  }
}
